/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial,sans-serif;
    scroll-behavior: smooth ;
}

/* common */
.text-align {
    text-align: center !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col { 
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1 {
    width: 100%;
}

.col-3 {
    width: calc(100% / 3);
}

.col-2 {
    width: calc(100% / 2);
}

.mt-8 { 
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;

}

.btn {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 11px 30px;
    display: inline-block;
    border-radius: 20px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border: 0.1px solid #333;
    cursor: pointer;
}

.pull {
    float: right !important;
}


/* main */

#main {
    overflow: hidden;
}

.clear {
    clear: both;
}

.text-white {
    color:#fff !important;
}

#header {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 1;
    height: 46px;
    background-color: black;
}

#nav { 
   display: inline-block;
}

#nav > li { 
    display: inline-block;
    position: relative;
}

#nav .nav-icon {
    font-size: 10px;
}

#nav > li > a {
    text-transform: uppercase;
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav > li:hover > a,
#nav .subnav > li:hover > a
{ 
    background-color: #ccc;
    color: #000;
}

#nav li:hover .subnav { 
    display: block;
}



#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}

#nav .subnav li { 
    display: block;
    width: 100%;
    background-color: #fff;
}
#nav .subnav a { 
    display: inline-block;
    color: #000;
    text-decoration: none;
    line-height: 42px;
    padding: 0 36px 0 12px;
    width: 100%;
}

#header .mobile-menu-btn:hover,
#header .search-btn:hover { 
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right:0;
    display:none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 23px;


}

.mobile-menu-btn .menu-icon,
.search-btn .search-icon {
    color: #fff;
    line-height: 46px;
    font-size: 16px;
}
/* slider css */
#slider {
    position: relative;
    margin-top:46px;
    padding-top:50%;
    background: url('https://www.w3schools.com/bootstrap/ny.jpg') top center / cover no-repeat;
}


#slider .text-content {
    position: absolute;
    color: #fff;
    left: 50%;
    padding: 32px;
    margin-bottom: 12px;
    transform: translateX(-50%);
    /* width: 100%; */
    /* OR */
    /* left: 0;
    right:0; */
    text-align: center;
    bottom: 0;
}

#slider .text-heading { 
    font-weight: 500;
    font-size:24px;
    margin: 10px 0;
}

#slider .text-description{
    font-size: 15px;
    margin: 15px 0;
}
/* content css */
#content {
    /* height: 1000px;
    background-color: #ccc; */
}

#content .contain-section {
    width: 900px;
    max-width: 100%;
    padding: 80px 0px 120px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}

#content .section-heading { 
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
    font-style: italic;
    font-family: Lato,sans-serif;
    margin: 12px;
}
#content .member-list {
    margin: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
    width: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.3);
    transition: 0.5s;
}

#content .member-img:hover {
    transform: scale(0.8);
    border-radius: 50%;
}

.tour-section {
    background-color: #000;
}
/* ticket */
.ticket-list{
    background-color: #fff;
    list-style: none;
    overflow: hidden;
    border-radius: 10px;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .sold-out{
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin: 0 16px;
}

.ticket-list .quantity{
    background-color: #000;
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top:-3px;
}
/* Place  */

.place-item { 
    margin-top: 32px;
    text-align: center;
}

.place-img:hover {
    opacity: 0.6;
}

.place-img {
    display:block;
    width: 100%;
    border-radius: 10px 10px 0 0 ;
} 

.place-heading { 
    color: #555;
    font-style:  italic; 
}

.place-time { 
    margin-top: 15px;
    opacity: 0.5;
}
.place-desc { 
    margin-top: 15px;
    line-height: 1.4;
}

.place-body { 
    background-color: #fff;
    padding: 16px;
    height: 205px;
    font-size: 15px;
    border-radius: 0 0 10px 10px;
    align-items: center;
    text-align: center;
}

/* contact */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block; 
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map */

.map-section img {
    width: 100%;
}

/* footer css */
#footer {

}

/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: calc(100% - 36px);
    max-width: 600px;
    min-height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    animation: modalSlideIn ease 0.8s;
}

.modal-header {
    background-color:#333;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;   
}

.modal-header i { 
    margin-right: 12px;
}

.modal-close { 
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
}

.modal-close:hover { 
    cursor: pointer;
    background-color: #fff;
    color: #333;
    border-radius: 20px;
}

.modal-body {
    padding: 24px;
    border-bottom: 1.5px solid #e5e5e5;
}

.modal-label {
    display: block;
    font-size: 18px;
    color: #333;
    text-decoration: italic;
    font-weight: bold;
    opacity: 0.6;
    padding-top: 8px;
}

.modal-input {
    width: 100%;
    padding: 12px;
    font-size: 12px;
    border: 1px solid rgba(20,20,20,0.5);
    border-radius: 30px;
}

#buy-tickets {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 16px;
    transform:uppercase;
    width: 100%;
    height: 36px;
    margin-top: 12px;
    border-radius: 30px;
}

#buy-tickets:hover { 
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
}

.modal-footer {
    text-align: center;
    padding:12px 0 12px;
    font-size: 18px;
    font-style: italic;
} 
.modal-footer a { 
    color: rgba(11, 41, 71, 0.5);
    text-decoration: none;
}

.modal-footer a:hover { 
    color: rgba(11, 41, 71, 1);
    text-decoration: underline;
}

@keyframes modalSlideIn { 
    from {
        opacity: 0;
        transform: translateY(-200px);
    } 
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}